body {
    background-color: #f24537;
}
#title {
    color: #FFFFFF;
    background: #0e8dbc;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    color: #FFFFFF;
    background: #0e8dbc;
    text-align: center;
    padding: 10px 10px;
}
#sidebar {
    float: left;
    width: 25%;
    height:800px;
    background-color: lightblue;
    padding: 30px 10px;
}
#main-content {
    margin-left: 9px;
    padding: 20px;
}
.navi-button {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}
.left {
    float: left;
    width: 50px;
    height: 500px;
}
img {
    margin-left: 10px;
    width: 450px;
    height: 450px;
}
#mark {
    color: #616161;
    background: #bababa;
    text-shadow: #e0e0e0 1px 1px 0;
    color: #616161;
    background: #bababa;
    text-align:center;
}
.kitten-image {
    -webkit-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 2px rgba(0,0,0,0.75);
    cursor: pointer;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}
#map {
    height: 300px;
    width: 100%;
}
.right {
    float:right;
    width: 50px;
    height: 500px;
}
#right-content {
    float: right;
    width: 22%;
    height: 800px;
    background-color: lightblue;
    padding: 100px 10px;
}
#comment-content {
    background-color: orange;
    margin-right: 40px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 30px 200px;
}
.box-comment {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 5px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #1C6EA4;
}
.BoxEditor {
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, inset 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, inset 5px 5px 15px 5px rgba(0,0,0,0);
    background: #3DA484;
    position: absolute;
    top: 130px;
    left: 220px;
    bottom: 310px;
    right: 350px;
    width: 320px;
    border: 9px solid #73AD21;
    z-index: 40;
}
.likesStyle {
    position: absolute;
    top: 645px;
    left: 820px;
    background-color: #DC143C;
}
body#tinymce {
    background: #FFFFFF
}
.box-description {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background: #1C6EA4;
}
body#tinymce {
    background: #FFFFFF
}
.styleFont {
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: -1.8px;
    color: #000000;
    font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #4CAF50;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.btnl {
    position: absolute;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.lovit {
    background-color: #DC143C;
    top: 645px;
    left: 790px;
    padding: 5px;
}
.btnl:hover {
  background-color: #ff8080;
}
.blusky {
    background-color: #6495ED;
    top: 645px;
    left: 550px;
    padding: 5px;
}
.navi-button :hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}
.navi-button :active {
    position: relative;
    top: 1px;
}
div.com {
    position: fixed;
    bottom: 30px;
    right: 5;
    width: 300px;
    border: 3px solid #73AD21;
}