body
{
}
#sidebar {
    float:left;
    width:25%;
    background-color:lightblue;
    padding: 30px 10px;
}
#main-content {
    width:75%;
    /*margin from left equal to width of sidebar*/
    margin-left:30%;
    padding:10px;
}
#comment-content {
    width: 75%;
    background-color: orange;
    padding: 40px 350px;
    margin-left: auto;
    margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
img{
    width: 500px;
    height: 500px;
}
.btnl {
    position: absolute;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.lovit {
    background-color: #DC143C;
    top: 610px;
    left: 720px;
    padding: 5px;
}
.btnl:hover {
  background-color: #ff8080;
}
.blusky {
    background-color: #6495ED;
    top: 610px;
    left: 620px;
    padding: 5px;
}
.navi-button {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}
.left {
    position: relative;
    left: -60px;
    top: -40px;
}
.right {
    position: relative;
    left: 430px;
    top: -40px;
}
.navi-button :hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

.navi-button :active {
    position: relative;
    top: 1px;
}
div.com {
    position: fixed;
    bottom: 30px;
    right: 5;
    width: 300px;
    border: 3px solid #73AD21;
}
